@keyframes movetop {
  0% {
    transform: translateY(-100px) scale(0.3); }
  35% {
    transform: translateY(15px) scale(0.5); }
  80% {
    transform: scale(1.2); }
  100% {
    transform: translateY(0) scale(1); } }

@keyframes movedown {
  0% {
    transform: translateY(100px) scale(0.3); }
  35% {
    transform: translateY(-15px) scale(0.5); }
  80% {
    transform: scale(1.2); }
  100% {
    transform: translateY(0) scale(1); } }

@keyframes movecard {
  0% {
    transform: translateY(2rem);
    height: 0; }
  100% {
    transform: translateY(0) scale(1);
    height: 100%; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "lato" , sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: white;
  box-sizing: border-box; }

.heading-launch {
  font-size: 3rem;
  margin-top: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, red, yellow);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s; }
  .heading-launch:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.u-centre {
  text-align: center; }

.margin-top-medium {
  margin-top: 2rem; }

.margin-top-large {
  margin-top: 5rem; }

.margin-top-small {
  margin-top: .5rem; }

.star-rating {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
  font-size: 0;
  height: 21px;
  line-height: 0;
  overflow: hidden;
  text-indent: -999em;
  width: 110px;
  margin: 0 auto; }
  .star-rating-main {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
    background-position: 0 100%;
    float: left;
    height: 21px;
    display: block; }

.margin-down {
  margin-bottom: -5rem; }

.main-button {
  background-color: #f00ed2;
  color: white; }
  .main-button, .main-button:link, .main-button:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: .7rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    font-size: 1.2rem;
    border: none;
    cursor: pointer; }
  .main-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .main-button:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  .main-button:active, .main-button:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .main-button::after {
    background-color: #17f0e5;
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s; }

.button {
  margin-top: .3rem;
  float: bottom;
  color: white;
  background-color: #ff00d4; }
  .button, .button:link, .button:visited {
    opacity: 0;
    text-transform: uppercase;
    text-decoration: none;
    padding: .7rem 4rem;
    display: inline-block;
    border-radius: 3px;
    transition: all 1s;
    position: relative;
    font-size: 1rem;
    border: none;
    cursor: pointer; }
  .button:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    opacity: 1; }
  .button:active, .button:focus {
    opacity: 1;
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.composition {
  position: relative;
  margin-top: -2rem; }
  .composition .stack {
    position: absolute;
    z-index: 10;
    transition: all .5s;
    outline-offset: 2rem; }
    .composition .stack1 {
      left: 55%;
      top: 3rem;
      z-index: 5;
      background-size: cover;
      transform: scale(0.8);
      width: 10%; }
    .composition .stack2 {
      right: 43%;
      top: 14rem;
      z-index: 2;
      width: 20%;
      background-size: cover;
      transform: scale(0.7); }
    .composition .stack3 {
      left: 24%;
      top: 8.5rem;
      z-index: 1;
      width: 20%;
      background-size: cover;
      transform: scale(0.7); }
    .composition .stack4 {
      left: 36%;
      top: -1rem;
      z-index: 3;
      width: 20%;
      background-size: cover;
      transform: scale(0.7); }
    .composition .stack:hover {
      transform: scale(0.9) translateY(-1rem);
      z-index: 20; }

.content {
  opacity: 1;
  font-size: 1rem;
  margin-top: -2rem;
  color: grey;
  position: absolute;
  background-color: white; }

.card1-card {
  background-image: radial-gradient(farthest-side at 100% 55%, red, purple, #da0ebe, #994899);
  height: 73vh;
  background-size: cover;
  border-radius: .5rem;
  overflow: hidden;
  transition: all .5s; }
  .card1-card:hover .button {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    opacity: 1;
    animation-name: movecard;
    animation-duration: 1s;
    animation-timing-function: ease;
    width: 100%; }
  .card1-card:hover {
    transform: scale(1.05) translateY(-10px); }

.card-image {
  background-size: cover;
  width: 100%;
  height: 18rem; }

.card1-heading {
  color: white;
  text-transform: uppercase;
  letter-spacing: .1rem; }

.card-description {
  color: white;
  font-size: 1rem; }
  .card-description .price {
    padding-top: 1rem; }

.product-image {
  width: 10.5rem;
  height: 10.5rem;
  -webkit-shape-outside: circle(40% at 50% 42%);
  shape-outside: circle(40% at 50% 42%);
  -webkit-clip-path: circle(40% at 50% 42%);
  clip-path: circle(40% at 50% 42%); }

.product-text {
  text-align: center;
  transform: translateY(-2rem); }

.review-card {
  width: 75%;
  margin: 0 auto;
  background-image: linear-gradient(120deg, rgba(124, 0, 37, 0.719), rgba(255, 255, 0, 0.719));
  margin-top: 3rem;
  box-shadow: 0.5rem 1rem 4rem rgba(0, 0, 0, 0.644);
  height: 30vh;
  border-radius: 2rem;
  overflow: hidden; }
  .review-card .photo-of-user {
    width: 30vh;
    height: 30vh;
    float: left;
    backface-visibility: hidden;
    position: relative; }
    .review-card .photo-of-user-caption {
      text-align: center;
      padding: 0rem;
      position: absolute;
      top: 0;
      left: 0;
      padding-right: 2rem;
      padding-left: .3rem;
      padding-top: 8rem;
      float: botto;
      opacity: 0;
      font-size: 1.5rem;
      transition: all 1s; }
      .review-card .photo-of-user-caption:hover {
        opacity: 1 !important; }
    .review-card .photo-of-user-image {
      height: 25vh;
      border-radius: .5rem; }

.photo-of-user-image .photo-of-user-image:hover {
  transform: scale(2); }

.reviews {
  margin-top: 2rem;
  color: white; }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 50;
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  .popup-contrnt {
    background-image: linear-gradient(to right, rgba(105, 11, 85, 0.8) 0%, rgba(204, 30, 175, 0.815) 50%, rgba(204, 30, 175, 0.815) 50%, rgba(105, 11, 85, 0.74) 100%);
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    position: absolute;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    display: table;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.25);
    transition: all .5s .2s; }
  .popup-image {
    padding: 2rem 1rem;
    width: 20%;
    display: table-cell;
    display: block; }
    .popup-image1 {
      display: inline-block; }
  .popup-info {
    width: 80%;
    display: table-cell;
    vertical-align: middle;
    padding-left: 2rem; }
    .popup-info .brand-p {
      text-transform: uppercase;
      font-size: 1.3rem;
      padding-top: 2rem; }
    .popup-info .name-p .price-p {
      font-size: 1.1rem; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup-contrnt {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup__close:link, .popup__close:visited {
    color: white;
    position: absolute;
    top: 1rem;
    right: 2.5rem;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
    transition: all .2s; }
  .popup__close:hover {
    color: red; }

.form-height {
  height: 70vh;
  width: 55vh;
  margin: 0 auto;
  margin-top: 2rem;
  border-radius: .5rem;
  background-image: url(/img/photo-1554189097-ffe88e998a2b.jpg); }
  .form-height .form {
    padding: 2rem; }
    .form-height .form .group {
      margin-bottom: .5rem; }
      .form-height .form .group-input {
        font-size: 1rem;
        font-family: inherit;
        color: inherit;
        padding: .3rem .7rem;
        border-radius: 5px;
        background-color: rbga(white, 0.5);
        border: none;
        border-bottom: 3px solid transparent;
        color: grey;
        display: block;
        transition: all .3s; }
        .form-height .form .group-input:focus {
          outline: none;
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
          border-bottom: 3px solid green; }
        .form-height .form .group-input:focus:invalid {
          border-bottom: 3px solid red; }
      .form-height .form .group-review {
        border-radius: .5rem;
        display: inline-block;
        font-size: 1rem;
        background-color: rgba(255, 255, 255, 0.514); }
        .form-height .form .group-review:focus {
          outline: none;
          box-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.5); }

.submit {
  display: inline-block;
  padding: .5rem 2rem;
  background-color: coral;
  border: none;
  border-radius: 3px;
  color: white;
  cursor: pointer; }

.nav-bar {
  position: fixed;
  position: fixed;
  top: 0;
  left: 0;
  max-width: 100%;
  width: 100rem;
  border-radius: 10rem;
  padding-left: .2rem;
  padding-right: .2rem;
  background-image: linear-gradient(to right, #690b69 0%, #cc1ecc 50%, #cc1ecc 50%, #690b69 100%);
  height: 3rem;
  z-index: 1000;
  backface-visibility: hidden; }

.nav-image {
  float: left;
  height: 15rem;
  padding: 3rem 1rem;
  z-index: 1000;
  margin-right: 0rem; }

.right-corner {
  list-style: none;
  float: right;
  text-align: center;
  text-transform: uppercase;
  z-index: 1000; }
  .right-corner:link, .right-corner:visited {
    display: inline-block;
    font-size: 1.2rem;
    padding: .5rem .5rem;
    border-radius: .5rem;
    color: #00f0f8;
    text-decoration: none;
    transition: all .4s; }
  .right-corner:hover, .right-corner:active {
    transform: translateY(0.03rem);
    background-color: #d40986;
    background-image: linear-gradient(to right, #690b55 0%, #cc1eaf 50%, #cc1eaf 50%, #690b55 100%);
    box-shadow: 0.5rem 0.7rem 2rem rgba(0, 0, 0, 0.616);
    color: whitesmoke; }

.nav-list {
  list-style: none;
  float: left;
  padding-left: 1rem; }
  .nav-list .nav-link {
    list-style: none;
    float: left;
    text-align: center;
    text-transform: uppercase;
    z-index: 1000; }
    .nav-list .nav-link:link, .nav-list .nav-link:visited {
      display: inline-block;
      font-size: 1.2rem;
      padding: .5rem .5rem;
      border-radius: .5rem;
      color: #00f0f8;
      text-decoration: none;
      transition: all .4s; }
    .nav-list .nav-link:hover, .nav-list .nav-link:active {
      transform: translateY(0.03rem);
      background-color: #d40986;
      background-image: linear-gradient(to right, #690b55 0%, #cc1eaf 50%, #cc1eaf 50%, #690b55 100%);
      box-shadow: 0.5rem 0.7rem 2rem rgba(0, 0, 0, 0.616);
      color: whitesmoke; }

.fixedtop {
  position: fixed;
  bottom: 4rem;
  right: 5rem; }
  .fixedtop .top-button {
    background-color: #16f0cb; }
    .fixedtop .top-button, .fixedtop .top-button:link, .fixedtop .top-button:visited {
      text-decoration: none;
      padding: 1.3rem;
      display: inline-block;
      border-radius: 50%;
      transition: all .2s;
      border: none;
      cursor: pointer; }
    .fixedtop .top-button:active, .fixedtop .top-button:focus {
      outline: none;
      transform: translateY(-1px);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.text-123 {
  list-style: none; }

html {
  scroll-behavior: smooth; }

.section-home {
  height: 100vh;
  width: 100%;
  background-image: url(/img/back-1.jpg);
  background-size: cover; }

.launching-soon {
  height: 100vh;
  width: 100%;
  background-image: url(/img/back-2.jpg);
  background-size: cover; }

.surprise-section {
  height: 100vh;
  width: 100%;
  background-image: url(/img/back-3.jpg);
  background-size: cover; }

.most-bought {
  height: 100vh;
  width: 100%;
  background-image: url(/img/back-4.jpg);
  background-size: cover; }

.user-reviews {
  height: 100vh;
  width: 100%;
  background-image: url(/img/back-1.jpg);
  background-size: cover; }

.submit-reviews {
  height: 100vh;
  width: 100%;
  background-image: url(/img/back-3.jpg);
  background-size: cover; }

.footer {
  height: 55vh;
  width: 100%;
  background-color: #222222;
  background-size: cover;
  position: relative; }

.heading-texts {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

.main-heading {
  text-transform: uppercase;
  letter-spacing: 1rem;
  font-size: 6rem;
  font-weight: 500;
  color: rgba(100, 149, 237, 0.8);
  animation-name: movetop;
  animation-duration: 1s;
  animation-timing-function: ease; }

.main-description {
  text-transform: uppercase;
  font-size: 1.5rem;
  animation-name: movedown;
  animation-duration: 1s;
  animation-timing-function: ease;
  color: whitesmoke; }

.footer-links {
  padding: 3rem; }
  .footer-links .footer-list {
    list-style: none; }
    .footer-links .footer-list .list-footer {
      padding-top: 1rem; }
      .footer-links .footer-list .list-footer .link-footer {
        display: inline-block;
        text-decoration: none;
        color: whitesmoke;
        padding: 0 2rem;
        padding-left: .5rem; }
        .footer-links .footer-list .list-footer .link-footer:hover {
          border-bottom: 1px solid white; }

.company-name {
  padding: 2rem;
  font-size: 2rem;
  padding-top: 3rem;
  text-transform: uppercase; }

.footer__link {
  text-decoration: none;
  color: whitesmoke; }
  .footer__link:hover {
    border-bottom: 1px solid white; }

.company-logo {
  position: absolute;
  right: 5rem;
  top: 3rem;
  width: 5rem; }

.row {
  max-width: 80%;
  margin: 0 auto; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row .col-1of2 {
    width: 45%;
    float: left; }
    .row .col-1of2:not(:last-child) {
      margin-right: 50px; }
  .row .col-1of4 {
    margin-top: 1rem;
    transition: all 1s;
    width: 21.5%;
    float: left; }
    .row .col-1of4:not(:first-child) {
      margin-left: 3rem; }
  .row .col-1of3 {
    margin-top: 3rem;
    transition: all 1s;
    margin-left: 1rem;
    width: 24%;
    float: left; }
    .row .col-1of3:not(:last-child) {
      margin-right: 7rem; }

.row90 {
  max-width: 90%;
  margin: 0 auto; }
  .row90::after {
    content: "";
    display: table;
    clear: both; }
  .row90 .col-1of5 {
    transition: all 1s;
    height: 14rem;
    margin-left: 3.5rem;
    width: 14%;
    float: left;
    background-color: cornflowerblue;
    margin-top: 2rem; }
